html, body {
    /*overflow: hidden;*/
    width   : 100%;
    height  : 100%;
    margin  : 0;
    padding : 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.doc-generator-container {
    width   : 100%;
    height  : 100%;
}

.doc-generator-content {
	padding-top: 10px;
	font-size: 15px;
}

.doc-generator-content-variable-name {
	font-size: 20px;
	line-height: 30px;
	padding-top:10px;
	padding-bottom: 10px;
	color: white;
}

.doc-generator-content-variable-type,
.doc-generator-content-variable-formatted,
.doc-generator-content-variable-title-description {
	font-size: 18;
	line-height: 30px;  

}

.doc-generator-content-variable-container {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
}