<div class="col-xs-12 doc-generator-content-variable-container" id="{{id}}" style="display: none; background: {{lightColor}}">
    <div class="col-xs-12 doc-generator-content-variable-name" style="background: {{color}}">
        <b>
            {{name}}
        </b>
    </div>
    <div class="col-xs-12 doc-generator-content-variable-type">
        <b>
            Type:
        </b>
        {{type}}
    </div>
    <div class="col-xs-12 doc-generator-content-variable-formatted">
        <b>
            Formated Name:
        </b>
        {{formatedName}}
    </div>
    <div class="col-xs-12 doc-generator-content-variable-title-description">
        <b>
            Description:
        </b>
    </div>
    <div class="col-xs-12 doc-generator-content-variable-description">
        {{description}}
    </div>
</div>
